@page
@model Proiect_MP1.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Detalii categorie</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.ID">Editează</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
