@page
@model Proiect_MP1.Pages.Evenimente.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Crează eveniment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Eveniment.ID" />
            <div class="form-group">
                <label asp-for="Eveniment.Nume" class="control-label"></label>
                <input asp-for="Eveniment.Nume" class="form-control" />
                <span asp-validation-for="Eveniment.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.EventPlannerID" class="control-label">Organizator</label>
                <select asp-for="Eveniment.EventPlannerID" class="form-control" asp-items="ViewBag.EventPlannerID"></select>
                <span asp-validation-for="Eveniment.EventPlannerID" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Eveniment.Pret" class="control-label"></label>
                <input asp-for="Eveniment.Pret" class="form-control" />
                <span asp-validation-for="Eveniment.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.Descriere" class="control-label"></label>
                <input asp-for="Eveniment.Descriere" class="form-control" />
                <span asp-validation-for="Eveniment.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.DataInceput" class="control-label"></label>
                <input asp-for="Eveniment.DataInceput" class="form-control" />
                <span asp-validation-for="Eveniment.DataInceput" class="textdanger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Eveniment.DataSfarsit" class="control-label"></label>
                <input asp-for="Eveniment.DataSfarsit" class="form-control" />
                <span asp-validation-for="Eveniment.DataSfarsit" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.Locatie" class="control-label"></label>
                <input asp-for="Eveniment.Locatie" class="form-control" />
                <span asp-validation-for="Eveniment.Locatie" class="textdanger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                  <table>
                    <tr>
                        @{
                            int cnt = 0;

                            foreach (var cat in Model.AssignedCategoryDataList)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                        name="selectedCategories"
                                        value="@cat.CategoryID"
                                        @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                    @cat.CategoryID @: @cat.Name
                                @:</td>
                            }
                    @:</tr>
                        }   
                   </table>
                </div>
             </div>
            <div></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}