@page
@model Proiect_MP1.Pages.EventPlanners.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Ștergere organizator</h3>

<p>Sunteți sigur că doriți să ștergeți acest lucru?</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventPlanner.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventPlanner.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventPlanner.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventPlanner.LastName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EventPlanner.ID" />
        <input type="submit" value="Șterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Înapoi la listă</a>
    </form>
</div>
