@page
@model IndexModel
@{
    ViewData["Title"] = "Acasă";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color:#212529">building Web apps with ASP.NET Core</a>.</p>
</div>
